.bg-color-1 { background-color: #ff6b6b; }
.bg-color-2 { background-color: #6b8fff; }
.bg-color-3 { background-color: #ffa76b; }
.bg-color-4 { background-color: #ffcc6b; }
.bg-color-5 { background-color: #6bff6b; }
.bg-color-6 { background-color: #6b6bff; }
.bg-color-7 { background-color: #203060; }
.bg-color-8 { background-color: #3a5699; }
.bg-color-9 { background-color: #b5c8ff; } 