.comp-icon-1 { color: #ff6b6b; }
.comp-icon-2 { color: #66cc99; }
.comp-icon-3 { color: #66ccff; }

.exp-title-1 { color: #8888cc; }
.exp-title-2 { color: #ffffff; }
.exp-title-3 { color: #ffcc66; }

.exp-type-1 { border-left: 3px solid #333366; }
.exp-type-2 { border-left: 3px solid #cccccc; }
.exp-type-3 { border-left: 3px solid #ffcc66; } 